 html {
        font-family: 'Arial', sans-serif;
      }
      .header {
        margin-top: 60px;
        margin-left: 60px;
        text-align: left;
      }
      input {
        margin-right: 10px;
      }
      .form-check-label {
        font-size: 0.8em;
        margin-right: 20px;
      }